@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

.App {
 display:grid;
 justify-content:center;
 align-content:center;
 height:80vh;
}
body{
  background-color: crimson;
  font-family:"IM Fell English SC", sans-serif;
}
footer{
  position:absolute;
  bottom:0;
  width:100vw;
  display:flex;
  justify-content:center;
  height:7vh;
}
#quote-box{
  width:50vw;
  height:fit-content;
  border-radius:5px;
  padding-right:4vw;
  padding-left:4vw;
  padding-bottom:2vh;
  padding-top:2vh;
  background-color:#edf6f7;
  color:crimson;
}
#text{
  font-size:1.7rem;
}
#author{
  text-align:right;
}
#btnContainer{
display:flex;
justify-content:flex-end;
}
button{
width:15vw;
height:6vh;
border:none;
background-color: crimson;
color:#edf6f7;
}
button:hover{
  opacity:0.8;
}


